* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #eef;
}

/* main */

main {
  width: 400px;
  margin: 0 auto;
  padding: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.time {
  height: 150px;
  width: 100%;
  background-color: #eee;
  margin-bottom: 15px;
}

.salah {
  width: 100%;
}

.row-salah-header {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
}

.jadwal-salah-header {
  padding: 5px 15px;
}

.athan-iqamah-header {
  padding: 5px 15px;
  font-size: 20px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-salah {
  width: 100%;
  border-radius: 10px;
  background-color: #eee;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
}

.jadwal-salah {
  padding: 15px;
}


.athan-iqamah {
  padding: 15px;
  font-size: 20px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}